<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       profile="dev">

    <!-- Enable support for JPA annotations -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>



    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${dev.db.location}:3306/${dev.jdbc.database}?useSSL=false&amp;serverTimezone=UTC"/>
        <property name="username" value="${dev.jdbc.username}"/>
        <property name="password" value="${dev.jdbc.password}"/>
    </bean>

    <bean id="emFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="io.codeforall.drunkers.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
                <entry key="hibernate.show_sql" value="${dev.debug}" />
                <entry key="hibernate.hbm2ddl.auto" value="${dev.schema.auto}"/>

                <!-- Insert test data if dev.schema.auto property set to create -->
                <entry key="hibernate.hbm2ddl.import_files" value="db/answer.sql,db/event.sql,db/group.sql,db/question.sql,db/session.sql,db/user.sql"/>
                <entry key="hibernate.hbm2ddl.import_files_sql_extractor"
                       value="org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor"/>
                <entry key="hibernate.hbm2ddl.auto" value="validate"/>

            </map>
        </property>
    </bean>

</beans>


        <!-- /META-INF/spring-persistence.xml -->
        <!-- may be a bean-->
        <!--
        <persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
            <persistence-unit name="triviaapi" transaction-type="RESOURCE_LOCAL">
                 provider element declares the class that provides the initial factory
                    for creating an EntityManager instance
                <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
                <properties>-->
        <!--
                    <property name="hibernate.connection.driver_class" value="org.mariadb.jdbc.Driver"/>
                    <property name="hibernate.connection.url" value="jdbc:mariadb://localhost:3306/triviaapi?useSSL=false&amp;serverTimezone=UTC"/>
                    Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
                    Hibernate 4 automatically figure out Dialect from Database Connection Metadata
                    <property name="hibernate.dialect" value="org.hibernate.dialect.MariaDBDialect" />
                    <property name="hibernate.connection.username" value="root"/>
                    <property name="hibernate.connection.password" value=""/>
                    <property name="hibernate.archive.autodetection" value="class"/>
                    <property name="hibernate.show_sql" value="true"/>
                    <property name="hibernate.format_sql" value="true"/>
                    <property name="hibernate.hbm2ddl.auto" value="create"/>
                    <property name="hibernate.hbm2ddl.import_files" value="META-INF/db.sql"/>

                </properties>
            </persistence-unit>
        </persistence>
        -->
